.box {
  height: 50px;
  border: 1px dashed black;
  background-color: green;
}


#start {
  background-color: blue;
  border: 2px solid red;
  text-align: center;
  color: white;
}

.hero {
  background-color: pink;
}

.enemy {
  background-color: red;
}

.zone {
  background-color: orange;
}
